.login {
    padding: 20px;
}

.login input {
    display: block;
    margin: 10px 0;
}

.login {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #85a5d8);
}

.login-box {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
}