.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e40af;
    padding: 15px 40px;
    color: #fff;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-link {
    color: #cbd5f5;
    text-decoration: none;
    font-weight: 500;
}

.nav-link:hover,
.nav-link.active {
    color: #fbbf24;
    border-bottom: 2px solid #fbbf24;
}